.ticket-card{
    width: 210px;
    height: 150px;
    margin-left: 90px;
    font-size:18px;
    
}
.ticket-title{
    margin-top:25px;
    color:black;
    font-weight:800;
    font-size:20px;

}
.button{
    margin-bottom: 900px;
}
.ticket-card img{
    height:280px;
}
.ticket-footer{
    margin-top: 60px;
    font-weight: bold;
    font-size: 40px;
}
.ticket-btn{
    margin-top:40px
}

.ticket{
    margin-top:220px;
    margin-left: 30px;
}

@media(min-width:480px){

    .ticket-card{
        width:150px;
        height:100px;
    }
}